noscript { color: #AA4400 }
.olMap {
    color: black;
}

.olMap a {
    background: transparent;
    color: blue;
    text-decoration: none;
}

.olControlAttribution {
    bottom: 0.1em !important;
    left: 0.1em;
    right: auto !important;
}

.olControlLoadStatus {
    left: 50px;
    top: 10px;
}

.olControlMaplink {
    right: 0.1em;
    font-size: smaller;
}

#ml1 {
    bottom: 4.2em;
}

#ml2 {
    bottom: 3.0em;
}

.olControlMousePosition {
    background: white;
    bottom: 0.1em;
    font-family: Monospace;
    opacity: 0.7;
    right: 0.1em;
}

.olControlZoomstatus {
    bottom: 1.5em;
    left: 0px;
    background: white;
    opacity: 0.7;
}

/* .olFramedCloudPopupContent { */
/*     max-height: 400px; */
/* } */
/*  */
/* .olFramedCloudPopupContent, */
/* .olFramedCloudPopupContent table { */
/*     color: black; */
/* } */

.olFramedCloudPopupContent h3 {
    font-size: 120%;
    font-weight: bold;
    margin: 0;
}

.olFramedCloudPopupContent h3 img {
    height: 16px;
    width: 16px;
}

/* .olFramedCloudPopupContent td { */
/*     background: transparent; */
/*     margin: 0; */
/*     padding: 0; */
/* } */
/*  */
/* .olFramedCloudPopupContent p { */
/*     font-size: xx-small; */
/*     margin: 0 0 1em; */
/*     text-align: right; */
/* } */

.olFramedCloudPopupContent hr {
    display: none;
}

.olFramedCloudPopupContent .v {
    color:black;
    background: #dddddd;
    border: 1px solid gray;
    font-family: Monospace;
}

.olFramedCloudPopupContent .e {
    background: red;
    color: white;
    font-weight: bold;
    padding: 2px;
}

.olFramedCloudPopupContent .m {
    background: gray;
    color: white;
    font-weight: bold;
    padding: 2px;
}

.olFramedCloudPopupContent .o {
    color: blue;
}

.olFramedCloudPopupContent .c {
    color: gray;
}

.olFramedCloudPopupContent .u {
    color: red;
}

.olFramedCloudPopupContent .t {
    color: red;
}

#map {
    background: gray;
    height:100%;
    width:100%;
}
.olFramedCloudPopupContent {
    overflow: auto !important;}

@media print {
    .olControlMousePosition,
    .olControlPanZoomBar,
    .olControlPermalink,
    .olControlZoomstatus {
        display: none !important;
    }
}
